.App {
  /* text-align: center; */
  background-color: #86adfa;
  min-height: 100%;
  margin: 0px;
  
}

.App-header {
  background-color: #2956af;
  min-height: 5vh;
  /* display: flex; */
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html {
  background-color: #5274b8;
  min-height: 100% !important;
}

body {
  min-height: 100%;
  background-color: #3663be;

}
