.content_wrapper {
   background: rgb(242, 252, 255);
   display: flex;
   height: 100%;
   padding: 0;
   transition: margin-left .5s;
}

.content {
   /* color: blue; */
   margin: 10px;
}

.list_series_parameter {
   font-family: "Arial Black", Gadget, sa ns-serif;
   border: 2px solid #062147;
   background-color: rgb(255, 247, 220);
   /* width: 100%; */
   text-align: left;
   border-collapse: collapse;
}

.list_series_parameter td, list_series_parameter th {
   border: 1px solid #AAAAAA;
   padding: 1px 2px;
   padding-left: 15px;
}

.list_series_parameter tbody td {
   font-size: 14px;
 }

 .list_series_parameter tr:nth-child(even) {
    background: rgb(255, 244, 197);
 }

 .list_series_parameter thead {
   background: #1C6EA4;
   background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
   background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
   background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
   border-bottom: 2px solid #444444;
 }

.list_series_parameter thead th {
   font-size: 16px;
   font-weight: bold;
   color: #FFFFFF;
   border-left: 2px solid #D0E4F5;
   padding-left: 10px;
 }

 .list_series_parameter thead th:first-child {
   border-left: none;
 }
 